<a href="https://colab.research.google.com/github/NikolasT1503/Python_ITeco/blob/master/Lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Основы Python

## Циклы

- Цикл for в языке программирования Python предназначен для перебора элементов структур данных и некоторых других объектов.

- Можно итерироваться через список, строку, значения словаря (если они итерируемы) ...

In [ ]:
my_list = [1,2,3,4,5, "Ops"]

for i in my_list:
  print(i)

1
2
3
4
5
Ops

In [ ]:
# если поменять тут порядок программа сломается потому что она пойдёт дальше и сделает невозможное разделив строку на число
for num in my_list:
  if isinstance(num, int) and num % 2 == 0:
    print(num)
  else:
    print(num, 'не число')

1 не число
2
3 не число
4
5 не число
Ops не число

In [ ]:
integers = [1,2,3,4,5,6,7]
list_sum = 0

for num in integers:
  list_sum = list_sum + num

print(list_sum)

28

- While - один из самых универсальных циклов в Python, поэтому довольно медленный. Выполняет тело цикла до тех пор, пока условие цикла истинно.

- Пока мой кот голодный – продолжай кормить моего кота.

In [ ]:
x = 0

while x < 5:
  print(f'текущее значение x: {x}')
  x += 1
  
else:
  print('x больше чем 5')

текущее значение x: 0
текущее значение x: 1
текущее значение x: 2
текущее значение x: 3
текущее значение x: 4
x больше чем 5

In [ ]:
for letter in "hello world!":
  print(letter)

h
e
l
l
o

w
o
r
l
d
!

In [ ]:
tup = (1,2,3)

for i in tup:
  print(i)

1
2
3

In [ ]:
my_list = [(1,2), (3,4), (5,6)]

for i in my_list:
  print(i[0])

for (a, b) in my_list:
  print(a, b)

1
3
5
1 2
3 4
5 6

In [ ]:
d = {'key':1, 'key2':2, 'key3':3}

for i in d:
  print(i)

key
key2
key3

In [ ]:
d = {'key':1, 'key2':2, 'key3':3}

for a,b in d.items():
  print(a, b)

key 1
key2 2
key3 3

## break, continue, pass

Мы можем использовать break, continue, pass инструкции (операторы) для добавления функциональности решая разные задачи. 

* break: break прерывает текущий цикл и продолжает выполнение следующих 
выражений.

* continue: возвращает управление в начало цикла. 

* pass: не делает ничего.

In [ ]:
x = [1, 2, 3]

for item in x:
  # comment

SyntaxError: ignored

In [ ]:
x = [1, 2, 3]

for item in x:
  pass
print("конец скрипта")

конец скрипта

In [ ]:
x = "python"

for letter in x:
  if letter == "t":
    continue
  print(letter)

p
y
h
o
n

In [ ]:
x = 0

while x < 10:
  print(x)
  x += 1
  if x > 5:
    break

0
1
2
3
4
5

## List Comprehension

In [ ]:
hello = "hello"
my_list = []

In [ ]:
for letter in hello:
  my_list.append(letter)

In [ ]:
my_list

['h', 'e', 'l', 'l', 'o']

In [ ]:
[letter for letter in hello]

['h', 'e', 'l', 'l', 'o']

In [ ]:
[x for x in range(3)]

[0, 1, 2]

In [ ]:
super_list = [x for x in "word"]

In [ ]:
super_list

['w', 'o', 'r', 'd']

In [ ]:
[x for x in range(0, 10) if x%2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
[x**2 for x in range(0, 10) if x%2 == 0]

[0, 4, 16, 36, 64]

In [ ]:
celcius = [0, 1, 2, 3, 4]

fahrenheit = [ ( (9/5)*temp + 32 ) for temp in celcius ]

fahrenheit

[32.0, 33.8, 35.6, 37.4, 39.2]

In [ ]:
result = [x if x%2==0 else 'ODD' for x in range(0, 11)]
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [ ]:
[x for x in "HELLO" for y in "WORLD"]

['H',
 'H',
 'H',
 'H',
 'H',
 'E',
 'E',
 'E',
 'E',
 'E',
 'L',
 'L',
 'L',
 'L',
 'L',
 'L',
 'L',
 'L',
 'L',
 'L',
 'O',
 'O',
 'O',
 'O',
 'O']

In [ ]:
[x for x in [1,2,3] for y in [2,4,5]]

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
[x+y for x in [1,2,3] for y in [2,4,5]]

[3, 5, 6, 4, 6, 7, 5, 7, 8]

In [ ]:
d = {k:v for k, v in [(1,2), (3,4)]}
d

{1: 2, 3: 4}

In [ ]:
d = {k:v for k, v in [(1,2), (3,4)]}
d

In [ ]:
for i in range(100):
    continue
    if i % 2 == 0:
        print(i)
    else:
        continue